script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')

script(type='text/javascript', src='/js/bootstrap-transition.js')
script(type='text/javascript', src='/js/bootstrap-alert.js')
script(type='text/javascript', src='/js/bootstrap-modal.js')
script(type='text/javascript', src='/js/bootstrap-dropdown.js')
script(type='text/javascript', src='/js/bootstrap-scrollspy.js')
script(type='text/javascript', src='/js/bootstrap-tooltip.js')
script(type='text/javascript', src='/js/bootstrap-popover.js')
script(type='text/javascript', src='/js/bootstrap-button.js')
script(type='text/javascript', src='/js/bootstrap-collapse.js')
script(type='text/javascript', src='/js/bootstrap-carousel.js')
script(type='text/javascript', src='/js/bootstrap-typeahead.js')

script(type='text/javascript', src='/js/holder.js')