extends ../layouts/default

block content
  
  .row
    .span3
      &nbsp;
    .span6
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li= error.type

      h3= title

      block app
      
    .span3
      &nbsp;
